extends layout

block content
  content.dashboard
    .user
      .block.profile
        .photo
        p Pilot since #{moment(pilot.created).format('MMM YYYY')}
        h1 #{pilot.displayName()}
        h2
          a(href='/pilots/stripe/dashboard?account=true') View Stripe account

      .block.week
        p This Week
        h1 $#{(ridesTotalAmount / 100).toFixed(2)}
        h2 #{rides.length} Rides
      .block.available
        p Your Balance
        h1 $#{((balanceAvailable + balancePending) / 100).toFixed(2)}
        h2 $#{(balanceAvailable / 100).toFixed(2)} Available
      .block.stripe
        form(action='/pilots/stripe/payout', method='POST', autocomplete='off')
          input(type='submit', value='Pay out now')
        p
          a(href='/pilots/stripe/dashboard') View payouts on Stripe
    section.rides
      h4 Recent Rides
      if rides.length == 0
        .no-rides
          .rocket
          h1 No rides to display yet
          h2 Fly with some passengers!
      else
        .list
          each ride in rides
            .row
              .cell.name= ride.passenger.displayName()
              .cell.date= moment(new Date(Date.parse(ride.created))).calendar()
              .cell.price $#{(ride.amountForPilot() / 100).toFixed(2)}

block footer
  .annotation-wrapper
    .annotation.simulate
      h4 Simulate a passenger ride to create a payment for this pilot.
      ul
        li The balance is automatically fetched from the Stripe API.
        li #[strong View Transfers] lets pilots see their payments and edit their account information.
        li #[strong Pay Out Now] uses the Stripe API to generate an instant payout of the available balance.
      div.form
        form(action='/pilots/rides', method='POST', autocomplete='off')
          input(type='submit', name="immediate_balance", value='Create passenger ride', class='primary-action')
          input(type='submit', name="payout_limit", value='Simulate payout limit')