extends layout

block header
  if showBanner
    .banner
      .message
        strong Congratulations, your account is set up. 
        span.secondary-text Fire up your rocket and take your first passengers.
block content
  .dashboard
    .user
      .block.profile
        .photo
        p Pilot since #{moment(pilot.created).format('MMM YYYY')}
        h1 #{pilot.displayName()}
        h2
          a(href='/pilots/stripe/dashboard?account=true') View Stripe account

      .block.week
        p This week
        h1 $#{(ridesTotalAmount / 100).toFixed(2)}
        h2 #{rides.length} rides
      .block.available
        p Your balance
        h1 #{balanceCurrency}#{((balanceAvailable + balancePending) / 100).toFixed(2)}
        h2  #{balanceCurrency}#{(balanceAvailable / 100).toFixed(2)} available
      .block.stripe
        form.payout(action='/pilots/stripe/payout', method='POST', autocomplete='off')
          input(class='primary' type='submit', value='Pay out now' disabled=(balanceAvailable===0))
        p
          a(href='/pilots/stripe/dashboard') View payouts on Stripe
    section.rides
      h4 Recent rides
      if rides.length == 0
        .no-rides
          .rocket
          h1 No rides to display yet
          h2 Fly with some passengers!
      else
        .list
          each ride in rides
            .row
              .cell.name= ride.passenger.displayName()
              .cell.date= moment(new Date(Date.parse(ride.created))).calendar()
              .cell.price $#{(ride.amountForPilot() / 100).toFixed(2)}

block footer
  .annotation.card.dashboard-banner(class=(showBanner ? '' : 'hidden'))
    h4 The Connect Express onboarding flow is now complete. 
      a.show-more(href="#") &nbsp;(show more)
    .description
      p Express includes the #[strong Stripe account ID] that was just created, so after the flow redirects to Rocket Rides we can save it to the database.
      p This account ID can then be used to #[a(href="https://stripe.com/docs/api/balance/balance_retrieve" target="_blank") retrieve the pilot’s balance], provide a #[a(href="https://stripe.com/docs/connect/destination-charges" target="_blank") destination for payments], or #[a(href="https://stripe.com/docs/connect/payouts" target="_blank") create payouts].
    form.right
      button.primary-action.next Next step
  .annotation.card.dashboard-simulate(class=(showBanner ? 'hidden' : ''))
    h4 Simulate a passenger ride to create a payment for this pilot.
      a.show-more(href="#") &nbsp;(show more)
    .description
      ol
        li The balance is automatically fetched from the Stripe API.
        li #[strong View payouts on Stripe] lets pilots see their payouts or edit their account information.
        li #[strong Pay out now] uses the Stripe API to #[a(href="https://stripe.com/docs/connect/payouts" target="_blank") generate a payout] of the available balance.
    form.right(action='/pilots/rides', method='POST', autocomplete='off')
      input(type='submit', name="immediate_balance", value='Create passenger ride', class='primary-action')